MONGODB_URI=mongodb://localhost:27017/EventManager
PORT=3000
BASE_HOST_URL = http://localhost:3000
JWT_SECRET=myscretekey
NODE_ENV=development
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_password
OLLAMA=llama2-uncensored:latest  