/* calendar.css */
.dark-mode {
    background-color: #1e293b;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

.calendar-container {
    background-color: #1e293b !important;
    color: white !important;
    border: 1px solid #374151;
}

.rbc-calendar {
    background-color: #1e293b !important;
    color: white !important;
}

.rbc-header {
    background-color: #374151 !important;
    color: white !important;
}
